main{
    background-color:beige;
}
#event-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    top: 12%;
    width:100%;
    background-color:beige;
    padding: 10px;
    min-height: 100%;
    overflow-x: hidden;
    
}
img{
    width: 100%;
}
#navigation{
    display: flex;
    align-items: center;
    justify-content: center;
}
header{
    background-color:#333333;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 12%;
    z-index: 1;
}
h1{
    color: #C0C0C0;
    font-family: monaco, monospace;
}
.nav-button{
    background-color: transparent;
    color: #C0C0C0;
    border-radius: 5px;
    border: transparent;
    height: 7%;
    width: 16%;
    font-size: 1.25em;
    font-family: Courier, monospace;
    margin: 0 2.5% 0 2.5%;
    text-align: center;
}
.event{
    width: 25%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    background-color: #1E3A5F;
    border-radius: 5px;
    margin:10px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    min-width: 300px;
    margin-bottom: 20px;
}
p{
    color: #C0C0C0;
    font-family: Courier, monospace;
}
h2{
    color:#C0C0C0;
    font-family: Courier, monospace;
}
.location-container{
    width: 100%;
}
.buy-button{
    background-color: #00FFFF;
    font-family: Impact, sans-serif;
    font-size: 1em;
    color: #333333;
    border-radius: 5px;
    width:40%;
    height:30px;
}
.button-container{
    display: flex;
    justify-content: end;
    height:30px;
}
button:hover{
    opacity: 0.6;
    cursor: pointer;
}
.fa-solid{
    margin-left: 5px;
}
.fa-regular{
    width:10px;
    color: #C0C0C0;
    position: relative;
}
.event-header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.fa-regular:hover{
    color: red;
    cursor: pointer;
}
.add-background{
    position:fixed;
    top:0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: black;
    opacity:0.6;
}
.adder{
    position:fixed;
    z-index: 2;
    height:83%;
    top:13%;
    min-width: 250px;
    width: 45%;
}
label{
    color: #C0C0C0;
    font-family: Courier, monospace;
}
input,select{
    font-family: Courier,monospace;
}
#add-event-button, #cancel-event-button{
    background-color: #00FFFF ;
    font-family: Impact, sans-serif;
    width: 20%;
    font-size: 1em;
    min-width: 75px;
}
#add-event-button{
    color: green;
}
#cancel-event-button{
    color:#FF4500;
}
.filter-selection-container{
    position: fixed;
    top:12%;
    left:62%;
    text-align: center;
    width:25%;
}
#filter-select{
    font-family: Courier,monospace;
    color: #C0C0C0;
    background-color: #333333;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    border: 3px solid;
    width: 320px;
}
.filter-action-button{
  font-family: Courier, monospace;
  font-size: 16px;
  letter-spacing: 2px;
  color: #C0C0C0;
  background-color: #333333;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
}
@media screen and (min-width: 790px) {
#dropdown{
    display: none;
}
}

body{
    overflow-x: hidden;
}